* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
}

main {
  display: grid;
  place-items: center;
}

.display {
  display: block;
  font-size: 6rem;
}

.actions {
  display: flex;
  column-gap: 2rem;
}

button {
  border: none;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}
